@font-face {
  font-family: "TelefonicaHeadlineLightRegula";
  src: url("./telefonicatext-regular.woff")
}

@font-face {
  font-family: "TelefonicaHeadlineLight";
  src: url("./telefonicaheadline-light.woff")
}

html{
	margin: 0;
	}

.general {
	width: 1280px;
}

.index {
	background: url("../img/bg-network.jpg") #000000 center top no-repeat;
}

body {
	cursor: default;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 76%;
	color: #555555;
	cursor: default;
	padding: 0;
	border: 0;
	display: block;
	z-index: -1;

}

.general{
	font-size: 1em;
	position: relative;
	z-index: 10;
	height: 100%;
	margin: 0 auto 0 auto;
}

.index #title {
	height: 190px;
	padding-bottom: 0;
}

#title{
	width: 100%;
	background: url("../img/bgd_cabecera.png") center top no-repeat;
	}

#leftBanner{
	margin-top: 2em;
	margin-left: 0;
	float: left;
}

#centerTitle{
	font-family: 'TelefonicaHeadlineLightRegula', Arial, Helvetica, sans-serif;
	font-size: 3em;
	color:#5DCDE9;
	text-align: center;	
	float: left;
	margin-left:7em;
	margin-top: 2em;
}

#rightBanner{
	margin-right:1em;
	text-align: right;
}
#content{
	position:relative;
	width: 100%;
}

#menu{	
	position:absolute;
	margin: 2em;
	width:30%;
}

#menu label{
	font-family: 'TelefonicaHeadlineLight',Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: #000;
}
#map{
	padding-left: 2em;
	width: 70%;
	float: right;
}

#dialog, .ui-dialog-title{

}

img{
	border:0;
	}

.ui-menu-item{

}

.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
  }